  

                        <div class=" col-md-12 col-sm-12 col-no-padding-left">   
                                  
                            <div class="anime-container-data ">
                                <div><h1 class="anime-details-title" style="direction:ltr; text-align: center;" >التعليقات</h1></div>   
                                <div class="form-comment">
                                    <input type="text" placeholder="أكتب تعليقك" name='comment' class='inp-comment'>
                                    <input type="submit" value='save' class="add-comment">
                                </div>
                                <div class="comments">
                                   <div class="comment">
                                     <img class="img-profile" draggable="False" src="{{episode.name.image_anime.url}}"  />
                                     <div style="direction:ltr;">
                                        <h4 class='text-comment' style="color: white;font-size: 15px;letter-spacing: 0.8px;font-family: Cairo, sans-serif;" >Hamza</h4>
                                        <span class='text-comment' >hamza hanza lahyane hjsadvhsad asdashgdbsa dsadsahgsa dsdashdgsa dsadgh</span>
                                     </div>
                                   </div>
                                </div>
                             </div>
                        </div>  