{% extends 'base.html' %}

{% block content %}



    
    <div class="main-section ">
        <div class="container">
            <h3 class="font-important">{{title}}</h3>
        </div>
    </div>


<div class="content page-content-container">
    <div class="container">
        <div class="main-widget">
            
            <div class="main-widget-body">
                <div class="episodes-list-content">
                    <div class="row display-flex">




{% for episode in page  %}

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-no-padding col-mobile-no-padding">
  <div class="episodes-card-container">
    <div class="episodes-card">
      <div id="main" class="hover ">
        <img class="img-responsive " src="{{episode.name.image_anime.url}}"
          alt="اوتاكو otaku uramichi-oniisan-10-الحلقة" />
        <a href="{% url 'watch' slug=episode.name.number_episodes eps_num=episode.episode %}" class="overlay"></a>
            <div class="play-button">
            <span >
                <a href="{% url 'watch' slug=episode.name.number_episodes eps_num=episode.episode %}" class="overlay"><i
                    class="fa fa-play"></i></a></span>
                           
                        </div>
      </div>
          </div>
    <div class="ep-card-anime-title">
      <h3><a href="{% url 'watch' slug=episode.name.number_episodes eps_num=episode.episode %}">{{episode.name.episode_date}}</a></h3>
            <h4><a style="color:#969696;" href="{% url 'watch' slug=episode.name.number_episodes eps_num=episode.episode %}"> 
            {% if episode.name.anime_type.name == 'تلفزيون' %}
                الحلقة
            {% else %}
            {{episode.name.anime_type.name}}
            {% endif %}
            
          {{episode.episode}}</a></h4>
          </div>
  </div>
</div> 

{% endfor %}
<div class="container">
        <div class="anime-list-content">
                            <div class="row display-flex">
{% for i in animes %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-no-padding col-mobile-no-padding">
        <div class="anime-card-container">
            <div class="anime-card-poster">
                <div class="hover ">
                    <img class="img-responsive"   
                        src="{{i.image_anime.url}}"
                        alt="{{i.title}}" />
                    <a href="{% url 'anime' slug=i.url_anime %}" class="overlay"></a>
                    <div class="play-button-extra">
                         <span ><a href="{% url 'anime' slug=i.url_anime %}" class="overlay"></a></span>
                                                    
                            </div>
                        </div>
                        <div class="anime-card-status "><a class='font-important'
                        style='font-size:11px'  href="{% url 'anime' slug=i.url_anime %}">{{i.anime_state.name}}</a>
                        </div>     
                </div>
                <div class="anime-card-details">
                    
                    <div class="anime-card-title" title="{{i.title}}" data-toggle="popover" data-trigger="hover"
                        >
                        <h3 ><a href="{% url 'anime' slug=i.url_anime %}" >{{i.title}}</a></h3>
                        <h4><a a style="color:#969696;" href="{% url 'anime' slug=i.url_anime %}">{{i.anime_date.name}}</a></h4>
                                        
                </div>
            </div>
        </div>                    
    </div>  
    
{% endfor %}
                                                     
</div>   
</div>                               
 </div>

            <nav>
                {% if page.paginator.num_pages > 1 %}
                
                    <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% if search == 'show' %}s={{search_text}}&{% endif %}page={{page.previous_page_number}}">&laquo;&nbsp;السابق</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&laquo;&nbsp;السابق</span>
                                    </li>
                                {% endif %}

                                {% for i in page.range %}
                                    {% if i == page.number %}
                                        <li class="page-item active">
                                            <span class="page-link">{{i}}</span>
                                        </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% if search == 'show' %}s={{search_text}}&{% endif %}page={{i}}">{{i}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page.has_next %}
                                    <li class="page-item ">
                                        <a class="page-link" href="?{% if search == 'show' %}s={{search_text}}&{% endif %}page={{page.next_page_number}}">التالي&nbsp;&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" >التالي&nbsp;&raquo;</a>
                                    </li>
                                {% endif %}
                        </ul>
                        
                {% endif %}
                        
    </nav>

    </div>


{% endblock content %}



        
    

