

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: #eee;
}
.my-form-container{
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: 100px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 7px;
}
.nav-login{
    background: #417690;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.3px;
    word-spacing: 2px;
    font-family: Cairo, sans-serif;
}
.my-form{
    display: grid;
    padding: 10px 20px 20px;
    background: white;
    grid-template-columns: 100%;
}

.my-form-btn-login{
    background: #79aec8;
    width: 70px;
    height: 35px;
    font-size: 15px;
    font-family: Cairo, sans-serif;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.my-form-div{
    display: flex;
    justify-content: center;
}
.my-form > .error{
    color: #ba2121;
    font-family: "Roboto" ,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 140%;
    background-position: 5px 12px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ba2121;
    letter-spacing: 0.8px;
    word-spacing: 1px;
}
.my-form-message{
    background: white;
    text-decoration: none;
    font-family: Cairo, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-left: calc(50% - 200px);
    width: 400px;
    padding: 12px;
    word-spacing:1.2px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 7px;
    direction:rtl;
}
.my-form-message a{
    text-decoration: none;
}
@media(max-width:450px){
    .my-form-container{
        width: 80%;
        margin-left: 10%;
    }
    .my-form-message{
        width: 80%;
        margin-left: 10%;
    }
}