
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="site-copyrights">
                    <p>جميع الحقوق محفوظة لموقع اوتاكو - <a href="https://www.otaku.me/dmca/">DMCA</a> | otaku</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="developer-copyrights">
                    <p>تصميم وتطوير: <a href="https://www.otaku.me/">otaku - اوتاكو</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
