{% load static %}
<header class="head">
    <input type="checkbox" id="checkbox-lbl-bars" >
    <nav class='navbar-edited'>
        
    </nav>

    <nav class="navbar-edited" id='nav-ou'>
        
        <label for="checkbox-lbl-bars"  class="lbl-bars"><i class="fas fa-bars bars"></i></label>
        <label for="" class="lbl-search" id="label-search-navbar"><i class="fas fa-search" id="icon-search-navbar"></i></label>
        <ul class="ul" id='ul-nav'>
            
            <li>
                <a href="{% url 'index' %}">الرئيسية</a>
            </li>

            <li>
                <a href="{% url 'list_anime' %}">قائمة الأنمي</a>
            </li>

            <li>
                <a href="{% url 'ht' name='anime-type' slug='فيلم' %}">أفلام الأنمي</a>
            </li>

            <li>
                <a href="{% url 'days_anime' %}">مواعيد الحلقات</a>
            </li>

            <li>
                <div class="dropdown">
                        
                
            {% if request.user.is_authenticated %}
            
                <button class="btn btn-default dropdown-toggle" type="button" id="genresDropdown"
                            data-toggle="dropdown" aria-expanded="true" >
                                أخرى  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" id="drop5" role="menu" aria-labelledby="genresDropdown">
                            <li role="presentation" class='presentation'>
                                <a class="presentation-link" href="{% url 'done_show'%}">انميات تم مشاهدتها</a>
                            </li>
                            <li role="presentation" class='presentation'>
                                <a class="presentation-link" href="{% url 'animes-favorite'%}">انمياتي المفضلة</a>
                            </li>
                            <li role="presentation" class='presentation'>
                                <a class="presentation-link" href="{% url 'logout'%}">تسجيل الخروج</a>
                            </li>                             
                </ul>
            {% else %}
                <button class="btn btn-default dropdown-toggle" type="button" id="genresDropdown"
                            data-toggle="dropdown" aria-expanded="true" >
                                انضم لنا  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" id="drop5" role="menu" aria-labelledby="genresDropdown">
                            <li role="presentation" class='presentation'>
                                <a class="presentation-link" href="{% url 'register'%}">إنشاء حساب</a>
                            </li>
                            <li role="presentation" class='presentation'>
                                <a class="presentation-link" href="{% url 'login'%}">تسجيل الدخول</a>
                        </li>                             
                </ul>

            {% endif %}
            </div>
            </li>
        </ul>

        <div class="search-navbar-edit ds-none-2" id="search-navbar">
            <div class="search-box">
                <form action="{% url 'search' %}" method='GET'>
                    <button type="submit" class="btn-search-edit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <input type="text" name="s" placeholder="بحث" class="form-control search-input"
                           id='search-input-navbar' 
                           value="">
                    </form>
            </div>
            
        </div>
    </nav>
    <nav class="nav-mes">
        <p></p>
    </nav>
</header>